/* GENERALES */
@font-face {
  font-family: 'RocknRoll';
    src: url('/src/fonts/rockness.eot ');
    src: url('/src/fonts/rockness.eot?#iefix') format('embedded-opentype'),
        url('/src/fonts/Rockness.woff2') format('woff2'),
        url('/src/fonts/rockness.woff') format('woff'),
        url('/src/fonts/rockness.ttf') format('truetype'),
        url('/src/fonts/rockness.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

h2{
  color: #ec383d;
  text-align: center;
  font-size: 3em;
}
h3{
  font-family: RocknRoll;
  font-size: 2em;
  text-align: center;
  color: #ec383d;
}
.row{
  margin:0px!important;
}

/* ANIMACIONES */
.aparece {
  animation-name: aparece;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
@keyframes aparece{
  from {
      margin-left: -200%;
  }
  to {
      margin-left:0%;
  }
}



/* NAVBAR */
.menu {
  position: fixed;
  width: 100%;
  top:0;
  background-color: rgba(255, 209, 211,0.9)!important;
  color: #e81b21!important;
  z-index: 111;
}

.menuItem {

  color: #e81b21!important;
  font-weight: bold;
  font-size: 1.1em;
}
.dropdown-toggle{
  color: #e81b21!important;
  font-size: 1.1em;
}
.dropdown-menu{
  background-color: rgba(255, 237, 238, 0.9)!important;
  padding: 0px !important;
  text-align: center;
}
.dropdown-menu:active{
  background-color: rgba(255, 201, 204, 0.9)!important;
  padding: 0px !important;
  text-align: center;
}
.navbar-toggler{
  border: 2px solid rgb(232, 27, 33)!important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(232, 27, 33)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

/* HEADER */
#titular{
  padding-top: 75px;
}

.subtitulos{
  margin: 0px;
  padding-right: 15px!important;
  padding-left: 15px!important;
  border-top: 2px solid #ec383d;
  background: #ffe2e3 url(../images/asfalt-dark.png) center top repeat;
  z-index: 1;position: relative;padding:40px 0px;
}
.redonda {
  border-radius: 50%;
}
.subtitulos h2{
  font-size: 3em;
  text-align: center;
  color: #ec383d;
}
.subtitulos h3{
  font-size: 2em;
  text-align: center;
  color: #ec383d;
}
.square-rotate{display: block;
  width: 60px;
  height: 60px;
  border-radius:50%;
  background: #ffe2e3 url(../images/asfalt-dark.png) center top repeat;
  margin-top: -30px;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;}

.separador{
  height: 4.75em;
}
.separador-receta{
  height: 1.5em;
}

/* CONTACTO */
.btn-rrss {
  border: none !important;
  padding: 0.7em 0em !important;
  cursor: pointer;
}
.btn-face {
  background-color:#3b5998;
}
.btn-face:hover{
  opacity: 0.8;
}
.btn-insta{
  background: linear-gradient(135deg, rgba(255,219,128,1) 0%, rgba(252,176,69,1) 12%, rgba(247,119,55,1) 25%, rgba(245,97,64,1) 36%, rgba(253,29,29,1) 47%, rgba(225,48,107,1) 59%, rgba(193,53,132,1) 70%, rgba(131,58,180,1) 81%, rgba(88,81,219,1) 91%, rgba(67,91,229,1) 99%, rgba(64,92,230,1) 100%);
}
.btn-insta:hover{
  opacity: 0.8;
}
.btn-mail{
  background-color: red;
}
.btn-mail:hover{
  opacity: 0.8;
}
.btn-wapp{
  background-color: #00bd2d;
}
.btn-wapp:hover{
  opacity: 0.8;
}
.separadorRRSS {
  height:1.5em;
  width: 75%;
  padding: 0px;
  margin:0px;
}

.selectorUbicacion{
  padding: 3px;
  cursor:pointer;
  background-color: #fad6d6;
  border: 1px solid #ec383d;
  border-radius: 5px;
  color: #ec383d;
  font-weight: bold;
  opacity: 0.8;
}
.selectorUbicacion:hover{
  opacity: 1;
}

.mapas{
  width:100%;
}

/* RECETAS */
.card-receta{
  padding: 1em;
  background-color: #fad6d6;
  border: 1px solid #ec383d;
  border-radius: 6px;
  margin: 0em 2em 0em 2em;
}

/* RECETARIOS */
.bordeRecetario{
  border:1px solid #ec383d;
  border-radius: 6px;
  padding: 1em;
}
.fondobtn{
  display: inline-block;
  padding: 10px 10px;
  border-radius: 8px;
  background-color: rgba(232, 27, 33, 0.15);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);
}
.fondobtn:hover{
  background-color: rgba(232, 27, 33, 0.30);
}
.fondobtn:active{
  background-color: rgba(232, 27, 33, 0.40);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.45);
}

/* PACK SALUDABLE */
.btnPackSaludable {
  cursor: pointer;
  margin: auto;
  padding: 15px;
  border: 2px solid #ec383d;
  border-radius: 6px;
  color: #ec383d;
  background-color: #ffbfc0;
  width: 50%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);
}
.btnPackSaludable:hover {
  border: 2px solid #e70008;
  color: #eb0008;
  background-color: #ff8d8e;
}
.btnPackSaludable:active {
  border: 2px solid #ec383d;
  color: #ec383d;
  background-color: #ffbfc0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

/* PLANES DE ALIMENTACION */

.btnInfo{
  text-align: center;
  color: #ec383d;
  font-size: 1.5em;
  width:75%;
  padding: 15px 0px;
  background-color: transparent;
  border:none;
  border-top: 2px solid #ec383d;
  border-bottom: 2px solid #ec383d;
  transition: background-color 1.5s;
}
.btnInfo:hover{
  background-color: #ffe3e4;
  transition: background-color 1.5s;
}

.hideInformacion{
  display: none;
  height: 0px;
  opacity: 0;
  transition: display 3s;  
}
.showInformacion{
  display: block;
  border-bottom: 2px solid  #ec383d;
  height: 100%;
  opacity: 1;
  text-align: center;
  margin: auto;
  width: 75%;

  transition: display 1s, height 2s;
  
}

.btShopMercadoPago{
  display:table;
  margin:auto;
  width:100%;
  background-color:#ffd6d7;
  padding:20px 0px;
}


/* BOTON FIJO */

.btnshadow {
  z-index: 1;
  width: 4em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  margin: 0px;
  padding: 0.7em;
  background-color: #00bd2d;
  box-shadow: 2px 2px 5px black;
  border-radius: 50%;
  overflow: visible !important;
}
.btnshadow:hover {
  background-color: rgba(0,189,25,.9);
}
.btnshadow:active {
  box-shadow: 0px 0px 0px black;
}

/* FOOTER */
.fondobottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0px 0;
  height: 180px;
  background-image: url(../images/bottom-bg.jpg);
  background-size: cover;
}
.fondito{
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.25);
}
.footcont{
  color:white;
}
.footcont:hover{
  color:rgb(128, 250, 128);
}